body {
  background-color:#9A0029;margin:5
}

#divheader {
  background-color:#184a45ff;
  border: 1px solid;
}
h1 {
  color:white;
  margin-left:20px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  font-family: Candara, serif;
}

#divbuttons {
  background-color:#3D778D;
}
ul.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3D778D;
  border: 1px solid black;
}
li a.buttonlink {
  float: left;
  background-color: #9A0029;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 12px 18px;
  text-decoration: none;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  font-family: Verdana, serif;
}
li a.buttonlink:hover {
  background-color: #E3BF84;
  color: black;
}

#divbody {
  background-color:#7AA5B6;
  padding-left: 25px;
  padding-bottom: 500px;
  border: 1px solid black;
}
h3 {
  color:black;
  margin-top:0px;
  margin-bottom:0px;
  font-family: Candara, serif;
}
p.paragraph {
  color:black;
  text-align:left;
  font-family: Candara, serif;
}
ul.paragraphlist {
  margin-left: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 0px;
  font-family: Candara, serif;
}
