body {
  background-color:#9A0029;margin:5
}
#divheader {
  background-color:#184a45ff;
}
#divbody {
  background-color:#7AA5B6;
  padding-left: 25px;
  padding-bottom: 500px;
}
#divbuttons {
  background-color:#3D778D;
}
h1 {
  color:white;margin:0;text-align:center
}
a.buttonlink:link, a.buttonlink:visited{
  background-color: #9A0029;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 1.5px solid black;
}
a.buttonlink:hover, a.buttonlink.active {
  background-color:#E3BF84;
  color:black;
}
h3 {
  color:black;
  margin-top:0px;
  margin-bottom:0px;
}
p.paragraph {
  color:black;
  text-align:left;
}
ul.paragraphlist {
 margin-left: 40px;
 margin-bottom: 10px;
 margin-top: 10px;
 padding: 0px;
}